<div class="m-3">

<h1 class="mb-3"> <%=@task.title %> </h1>
<p class=" w-50 alert alert-info"> <%= @task.details %> </p>

<div class="border-bottom border-light mb-3">
<% if @task.completed %>
<p><%= check_box("tag", tag.id, {checked: true})%><span class="ml-2">This task is completed.</p>
<% else %>
<p><%= check_box("tag", tag.id, {checked: false}) %><span class="ml-2"></span>This task is not completed yet.</p>
<% end %>
</div>


<%= link_to "Edit Task", task_edit_path(@task)%>
<br>

<%= link_to "Delete Task", task_delete_path(@task), method: :delete%>
<br>

<%= link_to "Back to list", tasks_path  %>
</div>
